<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>日付計算アプリ</title>
	</head>
	<body>
		<h1>日付計算式を削除しますか？</h1>
		<form method="post" action="/delete" th:object="${dateFormula}">
			<table>
				<tr>
					<th>日付ID</th>
					<td><input readonly type="text" name="dateId" th:field="*{dateId}" /></td>
				</tr>
				<tr>
					<th>日付名称</th>
					<td><input readonly type="text" name="dateName" th:field="*{dateName}" /></td>
				</tr>
				<tr>
					<th>計算値（年）</th>
					<td><input readonly type="text" name="calcValueY" th:field="*{calcValueY}" /></td>
				</tr>
				<tr>
					<th>計算値（月）</th>
					<td><input readonly type="text" name="calcValueM" th:field="*{calcValueM}" /></td>
				</tr>
				<tr>
					<th>計算値（日）</th>
					<td><input readonly type="text" name="calcValueD" th:field="*{calcValueD}" /></td>
				</tr>
			</table>
			<a th:href="@{'/calc'}">戻る</a>
			<input type="submit" value="削除">
		</form>
	</body>
</html>